body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72A0C1;
    color: white;
    height: 100vh;
}
.bm-overlay{
    position: fixed;
    height: 100%;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoContainer{
    display: flex;
    width: 75px;
    justify-content: space-evenly;

}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color:white;
    -webkit-font-smoothing: antialiased;
}

.headshot{
    width: 250px;
    height: auto;
}