#workExperience{
    background-color: #363636;
    color: #9c9c9c;
    padding: 3em 0px;
}

.workContainer{
        width: 50em;
        display: flex;
        flex-direction: column;
        padding: 2em;
}

  .workImageSliderContainer{

        width: 650px;
        height: 474px;
        margin: 2em auto;
    
  }