.navbar{
    position: fixed;
    width: 230px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #262626;
    color: #7f7f7f;
    font-size: 0.9em;
    font-weight: bold;
    overflow: auto;
}