.projectCard{
    width: 19em;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 3%;
    color: black;
}

.projectImgContainer{
    width: 19em;
    height: 19em;
}

.projectImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projectLink{
    width: max-content;
    box-shadow: 0 .25em .5em 0 rgba(0,0,0,0.2);
    margin: 0 1em;
    border-radius: 3%;
    display: flex;
}

.projectLink:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}