body{
    background-color: #72A0C1;
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}

#outerContainer{
    width:100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}
section{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.gradient{
    background: linear-gradient( #72A0C1, #ECECEC);
    background-attachment: fixed;
    height: 50px;
    width: 100vw;
    background-size: 100% 100%;  /* Full width and height */

}

.inline-link{
    text-decoration: none; /* Removes underline */
    color: inherit; 
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}